@font-face {
    font-family: 'KPMG';
    src: url('KPMG-Extralight.eot');
    src: url('KPMG-Extralight.eot?#iefix') format('embedded-opentype'),
        url('KPMG-Extralight.woff2') format('woff2'),
        url('KPMG-Extralight.woff') format('woff'),
        url('KPMG-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers for KPMG';
    src: url('UniversforKPMG-Bold.eot');
    src: url('UniversforKPMG-Bold.eot?#iefix') format('embedded-opentype'),
        url('UniversforKPMG-Bold.woff2') format('woff2'),
        url('UniversforKPMG-Bold.woff') format('woff'),
        url('UniversforKPMG-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

