.footer.desktop-nav {
    .navbar-dark {
        background-color: $secondary;
         .navbar-nav {
            .nav-item {

                &:not(:last-child) {
                    padding-right: 3rem;
                }

                .nav-link {
                    font-weight: normal;
                    font-size: 10px;
                    &:hover {
                        color: $blue;
                    }
                }
            }
         }
    }
}

.footer.desktop-nav .navbar-dark .navbar-nav .nav-item:last-child {
    padding-right: 0;
}