
  
  /* Add some content at the bottom of the video/page */
  .hero {
        overflow: hidden;
        position: relative;
        margin-bottom: -.4em;
    
        #bgVideo {
            position: relative;
            right: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            object-fit: cover;
          }

     .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        .content {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          height: 100vh;
          flex-direction: column;
          position: relative;
          margin-top: -10rem;

          .title {
            font-size: 200px;
          }

          .sub-title {
            margin-top: -.5em;
            margin-bottom: 1em;
          }

            .button {
                width: 286px;
                height: 63px;
                background-color: #fff;
                font-family: $font-stack1;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                color: #470A68;
                letter-spacing: 2px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    background-color: $blue;
                    color :#fff;
                }
                
            }
          }
        }
  }