@media (min-width: 1380px) {
    .lg-only {
        display: none;
    }
}

@media (max-width: 1920px) {
    .speaker .item {
        width: 30%;
    }

    .speaker .hoverbox {
        width: 100%;
    }
}

@media (max-width: 1800px) {
    .about .content .row.buttons {
        width: 600px;
    }    
}

@media (max-width: 1760px) {

}

@media (max-width: 1680px) {
    .timeline .content .left .pin {
        right: 1rem;
    }
}

@media (max-width: 1620px) {
    .speaker .hoverbox {
        height: auto;
    }
    .speaker .hoverbox .description {
        font-size: 16px
    }
    .speaker .hoverbox .text .name {
        font-size: 20px;
    }
    .speaker .hoverbox .text .job {
        font-size: 16px;
    }
}

@media (max-width: 1380px) {
    .shape1 .content  {
        display: none;
    }
    .timeline .content .right {
        padding-left: 4rem;
        padding-bottom: 2rem;
        padding-right: 4rem;
    }
    .timeline .content .left {
        flex-direction: row-reverse;
    }
    .timeline .content .left .pin {
        position: relative;
        right: unset;
        top: unset;
    }
    .timeline .content .left {
        align-items: flex-start;
    }
    .timeline .content .left .frame .time {
        position: absolute;
        top: 2rem;
        padding-left: 3rem;
        margin: auto;
    }

    .timeline .content .left .frame {
        margin-right: -1rem;
    }
}

@media (max-width: 1300px) {
    .timeline .content .left .pin {
        top: 2rem;
    }
}

@media (max-width: 1280px) {
    .timeline .content .left .pin .body {
        height: 11rem;
    }
}

@media (max-width: 1250px) {
    .timeline h3.lg-only {
        padding-top: 10rem;
    }

    .timeline .content {
        padding-top: 1rem;
    }
    .timeline .content .left .frame {
        margin-right: -2rem;
    }
}

@media (max-width: 1025px) {
    .timeline .content .left {
        justify-content: space-around;
    }
}

@media (max-width: 1000px) {
    .timeline h3.lg-only {
        padding-top: 15rem;
    }
    
}

@media (max-width: 993px) {
    .speaker .item {
        width: 45%;
    }
    .timeline .content .left {
        align-items: center;
        flex-direction: column;
    }
    .timeline .content .item:nth-child(even) .left .frame {
        position: relative;
        right: unset;
        margin-left: auto;
        margin-right: auto;
        padding-right: 12rem;
    }
    .timeline .content .item:nth-child(odd) .left .frame {
        position: relative;
        right: unset;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12rem;
    }

    .timeline .content .item:nth-child(even) .left .frame img {
        position: relative;
        object-fit: contain;
        transform: rotateY(.5turn);
    }

    .timeline .content .left .pin {
        top: -1em;
    }
    .timeline h3.lg-only {
        padding-top: 20rem;
    }
    .footer .navbar-dark .navbar-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;
    }
    .footer .navbar-dark .navbar-nav .nav-item {
        padding-right: unset;
        width: 100%;
        border-bottom: none;
    }
    .footer .navbar-dark .navbar-brand {
        left: unset;
    }
    .about.sub .content .text {
        width: 100%;
    }
}

@media (max-width: 875px) {
    .timeline {
        padding-top: 2rem;
    }
}

@media (max-width: 768px) {
    .hero .wrapper .content {
        margin: unset;
    }

    .hero .wrapper .content .title {
        font-size: 8em;
    }
        
    
    .speaker .item {
        width: 100%;
    }

    .speaker .item img {
        width: 100%;
    }

    .speaker .hoverbox .content {
        width: 100%;
    }
    .about .content .row.buttons {
        width: 100%;
    }
    .about .content .row.buttons .item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .about .content .row.buttons .item .button__one, .about .content .row.buttons .item .button__two {
        width: 100%;
    }
    .timeline {
        padding-top: 20rem;
    }

    .timeline .content .nav-tabs {
        width: 100%;
    }

    .speakers .content .nav-tabs {
        width: 100%;
    }

    .hero .wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 90%;
    }

    .about .content .text {
        width: 100%;
    }

    .main-title.title {
        font-size: 26px;
    }

    .timeline {
        padding-top: 27rem;
    }

    .timeline .content .nav-tabs .nav-item {
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .timeline .content .nav-tabs .nav-link {
        width: 100%;
    }

    .timeline .content .right {
        padding-left: unset;
        padding-right: unset;
    }

    .speakers .content .nav-tabs .nav-item {
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .speakers .content .nav-tabs .nav-link {
        width: 100%;
    }

    .footer .navbar-brand  {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .footer .navbar-dark .navbar-nav {
        padding-bottom: 2rem;
        padding-top: 2rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .speakers .nav-tabs {
        width: 100%;
        padding-top: 0px;
    }

    .footer.desktop-nav .navbar-dark .navbar-nav .nav-item:not(:last-child) {
        padding-right: unset;
    }

    .about .container {
        width: 90%!important;
    }
    .speaker .hoverbox .description {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .timeline {
        padding-top: 30rem;
    }
    .timeline .content .left {
        justify-content: center;
    }
    .timeline .content .left .pin .head {
        width: 25px;
        height: 25px;
    }
    .timeline .content .right h4 {
        font-size: 20px;
    }
    
    .timeline .content .right p {
        font-size: 16px;
    }
    
    .timeline .content .item:nth-child(odd) .left .frame {
        padding-left: unset;
    }
    .timeline .content .item:nth-child(even) .left .frame {
        padding-right: unset;
    }
    .timeline .content .left .pin {
        top: unset;
    }
    .timeline .content .left .pin .body {
        height: 7rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 460px) {
    .timeline {
        padding-top: 33rem;
    }
    
    .timeline .content .title {
        font-size: 20px;
    }
    
    .timeline .content .title {
        font-size: 16px;
        text-align: center;
    }
    .speakers .nav-tabs {
        width: 100%;
        padding-top: 0px;
    }
    
}

@media (max-width: 425px) {
    .timeline {
        padding-top: 40rem;
    }
}

@media (max-width: 360px) {
    .hero {
        height: 600px;
    }
    .hero #bgVideo {
        height: 600px;
    }

    .hero .wrapper .content .title {
        font-size: 6em;
    }
    .hero .wrapper .content .sub-title {
        font-size: 2em;
        padding-left: 2%;   
    }
    .hero .wrapper .content .button {
        height: 43px;
    }
}

@media (max-width: 389px) {
    .timeline h3.lg-only {
        padding-top: 25rem;
    }
}


@media (max-width: 365px) {
    .timeline h3.lg-only {
        padding-top: 30rem;
    }
}


@media (max-width: 350px) {
    .timeline {
        padding-top: 45rem;
    }
}

@media (max-width: 325px) {
    .timeline h3.lg-only {
        padding-top: 35rem;
    }
}

@media (max-width: 299px) {
    .timeline h3.lg-only {
        padding-top: 40rem;
    }
}

