.shape {
    position: relative;
    width: 100%;
    .content {
        position: absolute;
        display: flex;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 1rem;

        h3 {
            text-transform: uppercase;
        }
    }
}

.shape2 .content {
    bottom: 2rem;
}