
.speakers {
    background-color: $primary;

    .wrapper {
        padding-bottom: 5rem;
    }

    .tab-content {
        width: 100%;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: unset;
        background-color: unset;
        border-color: unset;
    }
    
    .nav-tabs .nav-link {
        border: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    .nav-tabs {
        border-bottom: none;
        width: 500px;
        justify-content: space-between;
        padding-bottom: 3rem;
        padding-top: 2rem;

        .nav-link  {
            width: 242px;
            height: 70.0717773438px;
            text-align: center;
            font-family: $font-stack1;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            text-decoration: none; 
            border: 3px solid $purple;
            background-color: transparent;
            color: #fff;   

            &.active {
                background-color: $blue;
                color: #fff;
                border: 3px solid $blue;
            }

            &:hover {
                background-color: #fff;
                color: $dark;
                border: 3px solid #fff;
            }
        }        
    }
}
/* team12 */
.speaker {
    border: none;
}

.speaker .hoverbox {
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 413px;
    height: 426px;
    border: 4px solid $secondary;
}

.speaker .hoverbox .bg {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    transition: all 0.3s ease 0s;
	    min-height: 300px;
     object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center center;
}

.speaker .hoverbox:hover .bg {
    /* left: 100%; */
    /* transform: scale(0.7) rotateZ(180deg); */
}

.speaker .hoverbox .hoverbox-content {
    width: 100%;
    height: 100%;
    background: $secondary;
    position: absolute;
    top: 0;
    left: -100%;
    transform: scale(0.7) rotateZ(180deg);
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker .hoverbox:hover .hoverbox-content {
    left: 0;
    transform: scale(1) rotateZ(0deg);
    z-index: 10;
}

.speaker .hoverbox .title {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-top: 40px;
}

.speaker .hoverbox .description {
    text-align: center;
    font-family:$font-stack1;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    padding: 2rem;
}

.speaker .hoverbox .read-more {
    display: block;
    width: 100px;
    padding: 7px 0;
    background: #fff;
    border-radius: 10px 0 10px 0;
    font-size: 14px;
    color: #484141;
    text-transform: capitalize;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
    background-repeat: no-repeat;
}

.speaker .hoverbox .read-more:hover {
    border-radius: 0 10px 0 10px;
    text-decoration: none;
}

@media only screen and (max-width: 990px) {
    .speaker .hoverbox {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 360px) {
    .speaker .hoverbox .title {
        margin-top: 10px;
        padding-bottom: 8px;
    }
}

.speaker .hoverbox .speaker-box {
    position: relative;
}

.speaker  .hoverbox  .content {
    position: absolute;
    bottom: 0px;
}

.speaker  .hoverbox .text {
    position: absolute;
    bottom: 0px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
}

.speaker  .hoverbox  .text .name {
    text-align: center;
    font-family: $font-stack1;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.speaker  .hoverbox  .text .job {
    text-align: center;
    font-family: $font-stack1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
}  


.speaker .item {
    margin-bottom: 3rem;
}